<html>
<head>
<title>Line charts example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<script type="text/javascript" src="/js/jigsaw.js"></script>

</head>



<body>

<!--
<div id='main' type='map' height='500px'  data="{'data': [
                                         ['pv', '上海', 77, '北京', 22, '重庆', 33, '新疆', 2222 ], 
                                         ['uv','上海', 1123, '北京', 226, '重庆', 66],    
                                ],
                                'title': 'test'
                                }"
>

-->



<div id='main' type='map_pie' height='500px'  data="{'data': [
                                         ['pv', '上海', 77, '北京', 22, '重庆', 33, '新疆', 2222 ], 
                                ],
                                'hinge': ['上海', '北京', '重庆'],
                                'title': 'test'
                                }"




</body>



</html>
