<html>
<head>
<title>Line charts example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<script type="text/javascript" src="/echarts/doc/asset/js/esl/esl.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jigsaw.js"></script>

</head>



<body>


<div id='main' type='map' height='500px'  data="{'data': [
                                         ['pv', '上海', 77, '北京', 22, '重庆', 33, '新疆', 2222 ], 
                                         ['uv','上海', 1123, '北京', 226, '重庆', 66],    
                                ],
                                'title': 'test'
                                }"
>



</body>



</html>
