<html>
<head>
<title>Line charts example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<script type="text/javascript" src="/echarts/doc/asset/js/esl/esl.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jigsaw.js"></script>

</head>



<body>


<div id='test' type='pie' data="{'data': [{'name':'直接访问', 'value':'33'}, {'name':'邮件营销', 'value':'39'}, {'name':'联盟广告', 'value':'21'}], 'title':'title' }" >



</body>



</html>
